@{
    ViewData["Title"] = "Home Page";
    int contador = 1;
}

<div class="text-center">
    <h1 class="display-4">TP04</h1>
    <!--Agregar un Link a Crear Paquete que se dirija a la acción “SelectPaquete” del controller.-->
    <a href='@Url.Action("SelectPaquete","Home")'>Seleccionar Paquete</a>
    <!--Recorrer el diccionario que se encuentra en ViewBag mostrando la info del paquete de cada destino.-->
    @foreach (Paquete p in ViewBag.PaquetesIndex.Values){
    if (ViewBag.PaquetesIndex.Count != 0)
    {
        <p><b>Paquete @contador</b></p>
        <p>@p.Hotel</p>
        <p>@p.Aereo</p>
        <p>@p.Excursion</p>
        contador++;
    }
   }
</div>
