@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section>
    <h1 class="display-4">TP04</h1>
    <a href='@Url.Action("Index","Home")'>Volver a home</a>
    <h2>Acá se puede guardar un paquete</h2>
    <div class="Lista"> 
    <h3>Destinos:</h3>
    @foreach (string destino in ViewBag.ListaDestinosIndex)
    {
        <p>@destino</p>
    }</div>
    <div class="Lista">
    <h3>Hoteles:</h3>
    @foreach (string hotel in ViewBag.ListaHotelesIndex)
    {
        <p>@hotel</p>
    }</div>
    <div class="Lista">
    <h3>Aéreos:</h3>
    @foreach (string aereo in ViewBag.ListaAereosIndex)
    {
        <p>@aereo</p>
    }</div>
    <div class="Lista"><h3>Excursiones:</h3>
    @foreach (string excursion in ViewBag.ListaExcursionesIndex)
    {
        <p>@excursion</p>
    }</div>
    <form action='@Url.Action("GuardarPaquete", "Home")'>
    <p>Ingrese el destino al cual viajará</p>
    <input type="number" name="Destino" placeholder="Ingrese el destino" required><br><!--Indica que siempre se necesita un dato-->
    <p>Ingrese el hotel que elegirá</p>
    <input type="number" name="Hotel" placeholder="Ingrese el hotel" required><br>
    <p>Ingrese el aéreo en el cual viajará</p>
    <input type="number" name="Aereo" placeholder="Ingrese el aéreo en el cual viajará" required><br>
    <p>Ingrese la excursión que elegirá</p>
    <input type="number" name="Excursion" placeholder="Ingrese la excursion" required><br>
    <div class="botones">
        <input class="btn btn-primary" type="submit" name="Enviar" placeholder="Presione aquí para enviar"><br>
        <input class="btn btn-secondary" type ="reset" name ="Resetear" placeholder="Presione aquí para borrar los datos">
    </div>
    </form>
    </section>
</div>
